/***

====================================================================
	Reset
====================================================================

 ***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

/***

====================================================================
	Global Settings
====================================================================

 ***/

body{
    font-family: Panton;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-family: "Panton";
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}

ul{
    margin: 0;
}


/*
===========================================
Top header
===========================================
*/

#top__header{
    background-color: #1d1e1e;
}

#top__header ul{
    display: flex;
    list-style: none;
}

#top__header ul li{
    color: #ffffff;
    font-size: 14px;
    padding: 12px 0;
    margin-right: 12px;
}

#top__header ul li i{
    font-size: 10px;
    margin-left: 12px;
    color: #6a6a6a;
}

.top__header_right{
    justify-content: space-between;
}

.top__header_right li a{
    color: #009ee2;
    font-size: 20px;
    line-height: 22px;
}

.top__header_right li p{
    margin: 0;
}

/*Main header*/

#main{
    padding: 40px 0;
}

.main__logo img{
    width: 100%;
}

#main ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#main ul li img{
    vertical-align: -13px;
}

#main ul li span{
    font-size: 16px;
    font-weight: bold;
    color: #009ee2;
}

.search__input input{
    border: solid 1px #ddd;
    border-radius: 4px;
    position: relative;
    width: 100%;
    height: 40px;
    text-indent: 25px;
}

.search__input i{
    position: absolute;
    top: 12px;
    right: 34px;
}

/*Navigation*/

.main_nav{
    background-color: #efefef;
}

.nav__list nav{
    justify-content: space-between;
}

.main_nav nav a, .drop__down a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.drop__down{
    line-height: 3rem;
    border-radius: 5px;
    position: relative;
    text-align: center;
    background: linear-gradient(90deg, rgba(51,185,233,1) 0%, rgba(29,163,216,1) 50%, rgba(8,142,199,1) 100%);
    cursor: pointer;
    width: 97%;
}

.drop__down a{
    color: #ffffff;
}

.drop__down a:hover{
    color: #ffffff;
}

.drop__down i{
    position: absolute;
    color: #ffffff;
}

.drop__down .fa-bars{
    left: 15px;
    top: 10px;
    font-size: 30px;
}

.drop__down .fa-chevron-down, .drop__down .fa-chevron-up{
    right: 12px;
    font-size: 19px;
    top: 14px;
    cursor: pointer;
    color: #54b2da;
}

.drop__down .fa-chevron-down{
    display: block;
}

.drop__down .fa-chevron-up{
    display: none;
}

.active__drop__down  .fa-chevron-up{
    display: block;
}

.active__drop__down  .fa-chevron-down{
    display: none;
}

.main__menu__item{
    position: relative;
}
.menu__sqr{
    width: 12px;
    height: 12px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: rotate(45deg);
    background-color: #ffffff;
    overflow: hidden;
    margin-left: -17px;
    display: none;
}

.main__menu_link:hover{
    color: #009ee2!important;
}

.drop__down_inner{
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: 700ms all ease;
    top: 81px;
    z-index: 2;
}

.drop__down_inner_open{
    max-height: 1000px;
    -webkit-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    box-shadow: -3px 12px 25px -16px rgba(0,0,0,0.47);
}

.drop__down_inner ul li{
    margin-bottom: 2px;
    background-color: #efefef;
    padding: 10px 67px;
    display: flex;
    text-align: center;
    position: relative;
}

.drop__down_inner ul li:last-child{
    margin-bottom: 0;
}

.drop__down_inner ul li i{
    position: absolute;
    right: 11px;
    top: 15px;
    font-size: 12px;
    color: #b2b2b2;
}

.drop__down_inner ul li a{
    font-weight: 700;
    font-size: 15px;
}

.drop__down_inner ul li:before{
    content: '';
    width: 10px;
    height: 10px;
    border: solid 3px #151515;
    border-radius: 100%;
    position: absolute;
    margin-right: 15px;
    left: 21px;
    top: 16px;
    color: #1d1e1e;
}

/*Main offer carousel*/



.owl-carousel .item{
    display: block;
    width: 100%;
    height: 400px;
    padding: 38px;
    background: linear-gradient(122deg, rgba(0,134,192,1) 0%, rgba(21,155,209,1) 23%, rgba(61,242,228,0.6306897759103641) 81%);
    -webkit-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    box-shadow: -3px 12px 25px -16px rgba(0,0,0,0.47);
    border-radius: 6px;
}

.carousel__item h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

.carousel__item h3{
    color: #4bd1fe;
    font-size: 1.5rem;
}

.carousel__item p{
    font-size: 3rem;
    color: #ffffff;
}

.carousel__btn{
    padding: 5px 31px;
    border: solid 1px #151515;
    width: fit-content;
    background-color: #151515;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
}

.carousel__item_img{
    position: relative;
}

.carousel__item_img img{
    position: absolute;
    width: fit-content!important;
    top: -71px;
}

.owl-nav{
    display: none;
}

.owl-carousel .owl-stage-outer{
    padding: 31px 0;
}

.owl-dots{
    position: absolute;
    bottom: 70px;
    left: 33px;
}

.owl-theme .owl-dots .owl-dot span{
    background: none;
    border: solid 2px #ffffff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: none;
    border: solid 2px #3dc3f2;
}

.owl-dot:focus{
    outline: none;
}

/*Popular items block*/

.spacial__offers__block{
    padding-bottom: 50px;
    border-bottom: solid 1px #efefef;
    margin-bottom: 75px;
}

.popular__item__block > div{
    background: linear-gradient(122deg, rgba(0,134,192,1) 0%, rgba(21,155,209,1) 23%, rgba(61,242,228,0.6306897759103641) 81%);
    -webkit-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    box-shadow: -3px 12px 25px -16px rgba(0,0,0,0.47);
    border-radius: 6px;
    padding: 20px
}

.main__popular__item h4, .main__popular__item h5{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.main__items__carousel .owl-dots{
    display: none;
}

.main__popular__item h5{
    font-size: 14px;
}

.main__popular__item_btn{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: relative;
    background-color: #151515;
}

.main__popular__item_btn i{
    position: absolute;
    top: 7px;
    left: 9px;
    font-size: 12px;
    color: #ffffff;
}

.popular__item_img{
    position: relative;
}

.popular__item_img img{
    width: 166%!important;
    position: absolute;
    top: -2px;
    left: -29px;
}

/*Sells hits*/

.hits__title__block{
    display: flex;
}

.hits__title__block h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;
    margin-right: 30px;
}

.hits__title__block a{
    padding-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline;
    color: #009ee2;
    font-weight: 700;
}

.arrows{
    float: right;
}

.arrows ul{
    display: flex;
    list-style: none;
}

.arrows ul li:first-child{
    margin-right: 10px;
}

/*New items block*/

.bestseller{
    padding: 52px 38px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bestseller__title h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 33px;
}


.bestseller__desc h4{
    font-size: 22px;
    color: #4cd2fe;
}

.bestseller__img{
    position: relative;
    height: 100%;
}

.bestseller__img img{
    position: relative;
    top: -16px;
    left: 18px;
    transform: scale(1.4);
}

.bestseller__price h2{
    font-size: 31px;
    color: #ffffff;
    padding-top: 5em;
    padding-bottom: 1.7em;
}

.hit__item{
    padding: 20px;
    -webkit-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    box-shadow: -3px 12px 25px -16px rgba(0,0,0,0.47);
    border: solid 1px #efefef;
}

.hit__item:hover{
    -webkit-box-shadow: 3px 21px 39px -15px rgba(0,0,0,0.33);
    -moz-box-shadow: 3px 21px 39px -15px rgba(0,0,0,0.33);
    box-shadow: 3px 21px 39px -15px rgba(0,0,0,0.33);
}

.hit__item_img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hit__item_wish{
    display: flex;
    justify-content: space-between;
}

/*Rating Stars Block*/

.rating-stars ul {
    list-style: none;
    display: flex;
    margin: 35px 0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
    position: relative;
    margin-right: 25px;
    cursor: pointer;

}

.rating-stars ul > li.star > i.far, .rating-stars ul > li.star > i.fas {
    position: absolute;
    color: #ffb400;
    top: 0;
}

.rating-stars ul > li.star > i.fas{
    display: none;
}

.rating-stars ul > li.star.hover > i.fas {
    display: block;
}

.rating-stars ul > li.star.hover > i.far {
    display: none;
}

.rating-stars ul > li.star.selected > i.fas {
    display: block;
}

.rating-stars ul > li.star.selected > i.far {
    display: none;
}



.hit__tem_like{
    cursor: pointer;
}

.hit__tem_like i{
    padding-top: 28px;
    color: #009ee2;
    position: absolute;
    right: 30px;
}

.hit__tem_like .fas{
    display: none;
}

.hit__tem_like .liked{
    display: block;
}

.hit__item_title h3{
    font-size: 24px;
}



.hit__item_btn button{
    width: 99%;
    padding: 10px 0px;
    border-radius: 6px;
    margin-top: 4px;
    background-color: #009ee2;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.hit__item_label{
    position: absolute;
    width: 60px;
    height: 40px;
    background: linear-gradient(90deg, rgba(51,185,234,1) 0%, rgba(9,143,199,1) 100%);
    left: 16px;
    top: 50px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
}

.hit__item_label p{
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

.hit__tem_sell__label{
    width: 87px;
    height: 40px;
    border-radius: 6px;
    background-color: #00963f;
    position: absolute;
    top: 0;
    left: 16px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.hit__item_price h3{
    font-weight: 700;
    font-size: 22px;
}

.hit__item_old_price{
    text-decoration: line-through;
}

.hit__item_old_price h4{
    font-size: 18px;
    color: #6d6d6d;
}

/*New Items Section*/

#new__items{
    margin-top: 150px;
}

.hit__item_prices{
    display: flex;
    justify-content: space-between;
}

.hit__item_comment{
    height: 30px;
}

.hit__item_comment h5{
    font-size: 16px;
    margin: 0;
    color: #00963f;
}

/*Latest News Block*/

.latest__news_pic{
    height: 210px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.latest__news__content{
    padding: 25px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 51px 34px -16px rgba(0,0,0,0.47);
    box-shadow: -3px 12px 25px -16px rgba(0,0,0,0.47);
}

.latest__news__title h3{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
}

.latest__news__text{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 110px;
    max-height: 110px;
}

.latest__news__text p{
    font-size: 14px;
}

.latest__news__more a{
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline;
    color: #009ee2;
    font-weight: 700;
}

#latest__news_main{
    position: relative;
}

#background {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 60%;
    background-color: #efefef;
    top: 291px;
}

.latest__news_date_label{
    width: 100px;
    height: 36px;
    background-color: #1d1e1e;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    position: absolute;
    border-radius: 4px;
    font-size: 14px;
}

.subscribe__title{
    text-align: center;
    margin-top: 25px;
}

.subscribe__title h3{
    font-size: 24px;
    font-weight: 700;
}

.subscribe__form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-top: 6%;
    padding-bottom: 6%;
}

.subscribe__form input {
    height: 60px;
    text-indent: 3%;
    font-weight: bold;
    width: 100%;
}

.subscribe__form input::placeholder{
    color: #6f6f6f;
}

.subscribe__form button {
    background: linear-gradient(90deg, rgba(51,185,233,1) 0%, rgba(29,163,216,1) 50%, rgba(8,142,199,1) 100%);
    padding: 0 5%;
    color: #ffffff;
    text-transform: uppercase;
    width: 260px;
    font-weight: 700;
}

#latest__news_main .latest__news .owl-dot, .new__items_section  .new__items .owl-dot,
.new__items_section  .hit__items .owl-dot{
    display: none;
}


/*Sales Block*/

.sales__block{
    background: linear-gradient(90deg, rgba(51,185,233,1) 0%, rgba(29,163,216,1) 50%, rgba(8,142,199,1) 100%);
    position: relative;
    margin-top: 60px;
    padding: 45px;
    height: 285px;
}

.sales__left{
    display: flex;
}

.sales__left h3{
    font-size: 45px;
    white-space: pre-line;
    margin: 0;
    color: #ffffff;
}

.sales__left h5{
    position: absolute;
    right: 34%;
    top: 60px;
    font-size: 22px;
    color: #5dd5fe;
}

.sales__pic img{
    position: absolute;
    top: -20px;
    right: -90px;
    transform: scale(1);
}

.sales__btn{
    top: -70px;
}

.sales__percent span{
    font-size: 87px;
    font-weight: 900;
    color: #54bde4;
    padding-left: 100px;
}

/*About Us block*/

.about__us_main{
    margin: 100px 0;
}

.about__us_text{
    margin-top: 40px;
}

.about__us_text p{
    font-size: 14px;
}

/*Footer*/

#footer__main{
    background-color: #1d1e1e;
    padding: 65px 0;
}

#footer__mini{
    background-color: #1d1e1e;
}

.footer__logo{
    width: 260px;
}

.footer__logo p{
    color: #8e8f8f;
}

.footer__logo ul{
    list-style: none;
    margin-top: 60px;
}

.footer__logo ul li{
    margin-bottom: 15px;
}

.footer__logo ul li:last-child{
    margin-bottom: 0;
}

.footer__logo ul li a, .footer__list ul .footer__email{
    color: #009be1;
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
}

.footer__list_title{
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer__list_title h5{
    font-size: 14px;
    font-weight: 700;
}

.footer__list ul{
    list-style: none;
}

.footer__list ul .address, .footer__list ul .footer__email{
    text-transform: none;
}

.footer__list ul li{
    color: #8c8d8d;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
}

.footer__container{
    padding-bottom: 60px;
    border-bottom: solid 1px #343535;
}

#footer__mini{
    padding-bottom: 50px;
}

.footer__copyright{
    color: #8c8d8d;
    font-size: 12px;
}

.footer__social ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/*Rating Stars Block*/

.rating-stars ul {
    list-style: none;
    display: flex;
    margin: 29px 0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
    position: relative;
    margin-right: 25px;
    cursor: pointer;

}

.rating-stars ul > li.star > i.far, .rating-stars ul > li.star > i.fas {
    position: absolute;
    color: #ffb400;
    top: 0;
}

.rating-stars ul > li.star > i.fas{
    display: none;
}

.rating-stars ul > li.star.hover > i.fas {
    display: block;
}

.rating-stars ul > li.star.hover > i.far {
    display: none;
}

.rating-stars ul > li.star.selected > i.fas {
    display: block;
}

.rating-stars ul > li.star.selected > i.far {
    display: none;
}
